.back{
    background-color: #000;
    display: flex;
}

.about{
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    padding: 3rem 2rem ;

    .respan{
        font-size: 0px;
    }

    h2{
        color: #ffb600;
    }
    p{
        color: #aaa;
    }


    h1{
        font-size:3rem;
        color:#F9004D;
        font-weight: bold;
    }

    .abouText{
        width: 450px;
        height: auto;
        flex-direction: column;
        display: flex;
        padding: 1rem;
        margin-left: 7rem;


        span{
            color:#aaa;
            line-height: 2.3rem;
        }
    }
}

@media ( max-width:1150px ){
    .about{
        justify-content: center;
        flex-direction: column;

        span{
            margin-top: 1rem;
            font-size: 1.8rem;
            line-height: 3rem;
        }
        
        h1{
            font-size: 0px;
        }
        p{
            font-size: 1.4rem;
        }
        h2{
            font-size: 2rem;
        }



        .respan{
            font-size:3rem;
            margin-bottom:1rem;
        }
    }
}


@media ( max-width:600px ){
    .about{
        justify-content: center;
        flex-direction: column;
        padding: 2rem;

        span{
            margin-top: 1rem;
            font-size: 2rem;
            line-height: 3.5rem;
        }
        
        h1{
            font-size: 0px;
        }
        p{
            font-size: 1.4rem;
        }
        h2{
            font-size: 2rem;
        }


        .respan{
            font-size:3rem;
            margin-bottom:1rem;
            font-weight: bold;
        }
    }
}