.container{
    display: block;
    background-image: url('../../../public/images/wallpaperflare.com_wallpaper\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
}

.topContent{
    height: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.7);
    padding: 2rem;

    .textContent{
        width: 700px;
    }

    h2{
        font-size: 2.4rem;
        color: #F9004D;
        font-weight: bold;
    } 
    h1{
        font-size:3.8rem;
        font-weight: bold;
    }

}



@media(max-width:500px){
    .topContent{
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: -4rem;
        h2{
            font-size: 2.4rem;
        }
        h1{
            font-size:3.4rem ;
        }
    }
}


@media(max-width:665px){
    .correBug{
        background-color: #000;
        display: flex;
    }
}
